
*.user

Testing/Kamin_Parsing_Test/.vs/

*.log

*.obj

Testing/Kamin_Parsing_Test/Main/Debug/Main.tlog/

Testing/Kamin_Parsing_Test/Parsers/Debug/

Testing/Kamin_Parsing_Test/Parsers/x64/

Testing/Sockets/Debug/

Testing/Sockets/Win32/

Testing/Sockets/x64/

Testing/Test_Harness/x64/

Testing/Top/.vs/

Testing/Top/Debug/

Testing/Top/Win32/

Testing/Top/x64/

guiApp/.vs/

guiApp/obj/x86/

guiApp/obj/

guiApp/.vscode/launch.json

guiApp/BundleArtifacts/

ProtobufFiles/
