<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="53486KaminFay.CSE687TestHarnessGUI2020"
    Publisher="CN=Kamin"
    Version="1.0.13.0" />

  <mp:PhoneIdentity PhoneProductId="b9281316-5248-4f2b-8030-5f203b36060a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>CSE687 Test Harness GUI 2020</DisplayName>
    <PublisherDisplayName>Kamin Fay</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
	

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="guiApp.App">
      <uap:VisualElements
        DisplayName="Test Harness Graphical User Interface"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="guiApp"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="removableStorage"/>
    <Capability Name="privateNetworkClientServer"/>
    <Capability Name="internetClientServer"/>
  </Capabilities>
</Package>